@model IEnumerable<URLS.Models.SessionViewModel>

@{
    ViewData["Title"] = "AllSessions";
}

<h1>Сесії</h1>

<ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active"
           id="ex2-tab-1"
           data-mdb-toggle="tab"
           href="#ex2-tabs-1"
           role="tab"
           aria-controls="ex2-tabs-1"
           aria-selected="true">Активні</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link"
           id="ex2-tab-2"
           data-mdb-toggle="tab"
           href="#ex2-tabs-2"
           role="tab"
           aria-controls="ex2-tabs-2"
           aria-selected="false">Усі</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link"
           id="ex2-tab-3"
           data-mdb-toggle="tab"
           href="#ex2-tabs-3"
           role="tab"
           aria-controls="ex2-tabs-3"
           aria-selected="false">Закінчені</a>
    </li>
</ul>
<!-- Tabs navs -->
<!-- Tabs content -->
<div class="tab-content" id="ex2-content">
    <div class="tab-pane fade show active"
         id="ex2-tabs-1"
         role="tabpanel"
         aria-labelledby="ex2-tab-1">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.App.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Location.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Client.Device.Type)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item.IsCurrent)
                    {
                        <tr style="background-color:green">
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.App.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Client.Device.Type)
                            </td>
                            @*<td>
                                <form method="get" asp-action="Logout" asp-controller="Account">
                                    <input type="submit" value="Закінчити сесію" class="btn-danger btn-primary" />
                                </form>
                            </td>*@
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.App.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Client.Device.Type)
                            </td>
                            <td>
                                <form method="post" asp-action="CloseSession" asp-controller="Account" , asp-route-id="@item.Id">
                                    <input type="submit" value="Закінчити сесію" class="btn-danger btn-primary" />
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade"
         id="ex2-tabs-2"
         role="tabpanel"
         aria-labelledby="ex2-tab-2">
        Tab 2 content
    </div>
    <div class="tab-pane fade"
         id="ex2-tabs-3"
         role="tabpanel"
         aria-labelledby="ex2-tab-3">
        Tab 3 content
    </div>
</div>
