@model URLS.Models.UserFullViewModel
@{
    ViewData["Title"] = "Home Page";
    var profileImage = Model.Image ?? "Images/User512.png";

    Func<string, string> Image = (image) => string.IsNullOrEmpty(image) ? "Images/Group64.png" : image;
}

<div class="row gutters-sm">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="@profileImage" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                        <h4>@Model.FullName</h4>
                        <p class="text-secondary mb-1">@Model.UserName</p>
                        <p class="text-muted font-size-sm">@Model.JoinAt.ToShortDateString()</p>
                        @if (Model.MFA)
                        {
                            <a class="btn btn-danger" asp-controller="Account" asp-action="DisableMFA">MFA</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-controller="Account" asp-action="EnableMFA">MFA</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <ul class="list-group list-group-flush">
                @foreach (var userGroup in Model.Group.Groups)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0">
                            <img src="@Image(userGroup.Group.Image)" width="32" height="32"/>
                            @Html.ActionLink(userGroup.Group.Name, "GetGroup", "Group", new {  id = userGroup.Group.Id  })
                        </h6>
                        <span class="text-secondary">@userGroup.UserGroupRole.Name</span>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        Kenneth Valdez
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.ContactEmail
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.ContactPhone
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Mobile</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        (320) 380-4539
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Активних сесій</h6>
                    </div>
                    <a class="col-sm-9 text-secondary" asp-action="AllSessions" asp-controller="Account">
                        @Model.Session.ActiveSessions
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>